body {
  font-family: "Roboto", sans-serif;
}

.nav-logo {
  width: 70px;
  margin: auto;
}

.navbar-brand {
  padding: 5px;
  width: 100%;
}

.navbar-nav.navbar-right {
  text-align: center;
  width: 100%;
}

.navbar-default .navbar-nav > li > a {
  font-size: 2rem;
  color: #6c63ff;
  font-weight: bold;
}

.navbar-default .image-container {
  height: 80px;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.home-banner-image {
  width: 100%;
  padding: 20px 30px;
}

.lower-footer img {
  max-height: 150px;
  max-width: 100%;
}

footer {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 60px 0;
}

footer .upper-footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.54);
  padding-bottom: 40px;
  margin-bottom: 20px;
}

footer p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
}

footer h2 {
  color: rgba(255, 255, 255, 0.98);
  font-size: 2rem;
}

footer .lower-footer a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
}

.home-page .feature-div {
  border-top: 1px solid rgba(230, 230, 230, 1);
}

.home-page .banner-section p {
  font-size: 1.8rem;
}

.home-page .banner-section h1 {
  color: #6c63ff;
  font-weight: bold;
}

.home-page .feature-wrapper {
  display: grid;
  grid-template-columns: 100%;
  margin: 10px;
}

.home-page .feature-wrapper .feature {
  display: grid;
  grid-template-columns: 10% 90%;
  margin: 10px 20px;
}

.society-content {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 60% 40%;
}

.home-page .feature-wrapper .feature .count {
  color: #6c63ff;
  font-weight: bold;
  font-size: 30px;
  margin-top: 11px;
  margin-right: 10px;
}

.home-page .feature-wrapper .feature .society-name {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: solid 2px #106470;
  padding-bottom: 10px;
}

.home-page .feature-wrapper .feature p {
  font-size: 1.5rem;
}

.feature-div img {
  width: 100%;
}

.feature-wrapper a {
  text-decoration: none;
  color: inherit;
}

.home-page .feature-wrapper-2 .feature {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 10px 20px;
}

.home-page .feature-wrapper-2 .feature .count {
  color: #6c63ff;
  font-weight: bold;
  font-size: 30px;
  margin-top: 11px;
  margin-right: 10px;
}

.home-page.hero h3.subheading {
  font-size: 40px;
  color: #6c63ff;
  margin-left: 30px;
  font-weight: bold;
}

.side-nav li a {
  font-size: 2rem;
  color: #6c63ff;
  text-decoration: none;
  font-weight: bold;
}

.society-fb-link {
  font-size: 1.5rem;
  color: #6c63ff !important;
  text-decoration: none;
  font-weight: bold;
}

.coordinator-div h3 {
  font-size: 2rem;
  color: #6c63ff !important;
  font-weight: bold;
}

.coordinator-div ul {
  padding-left: 10px;
}

.side-nav ul {
  padding-left: 10px;
}

.side-nav h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #6c63ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6c63ff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-div {
  position: fixed;
  top: 50px;
  right: 100px;
}

.login-form {
  padding-bottom: 50px;
}

.login-form a {
  color: #333;
}

.login-form .btn-success {
  font-size: 16px;
  border-radius: 50px;
  padding: 8px 30px;
  margin-bottom: 10px;
  background-color: #6c63ff;
  border-color: #6c63ff;
}

.login-form .btn-success:hover {
  background-color: #6c63ff;
  border-color: #6c63ff;
}

.login-form img {
  max-width: 100%;
  padding: 20px 15px;
}

.login-form i {
  color: #6c63ff;
  font-weight: bold;
  padding: 10px;
}

.login-form h1 {
  color: #6c63ff;
  font-weight: 600;
}

.login-form input {
  border-color: #6c63ff;
}

.login-form input:focus {
  border-color: #6c63ff;
}

.login-form .link-wrapper {
  text-align: center;
}

.login-form p {
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .desktop-visible {
    display: none;
  }
  .home-page .feature-wrapper .feature {
    grid-template-columns: 20% 80%;
  }
  .toggle-div {
    right: 15px;
  }
}
