{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="container login-form">
  <div class="row">
    <div class="col-lg-6">
      <h1>Oh no,</h1>
      <p>Just like unicorn - This page is extinct..</p>
      <p>but you don't worry, magic will never die. Go to <a href="/" class="purple-color"><i class="fa fa-home"
            aria-hidden="true"></i> homepage</a> to discover all magical wonders again.</p>
    </div>
    <div class="col-lg-6">
      <img src="{% static 'image/svg/404.svg' %}" alt="login">
    </div>
  </div>
</div>
{% endblock %}