{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="container login-form">
  <div class="row">
    <div class="col-lg-6">
      <div class="link-wrapper pt-50">
        <p>We've emailed <i class="fa fa-envelope-o" aria-hidden="true"></i> you instructions for setting your password.
          If they haven't arrived in a few minutes, check your spam folder.</p>
      </div>
      <div class="link-wrapper">
        <p><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></p>
        <p><a href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></p>
      </div>
    </div>
    <div class="col-lg-6">
      <img src="{% static 'image/svg/email_check.svg' %}" alt="email">
    </div>
  </div>
</div>
{% endblock %}