{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="container login-form">
  <div class="row">
    <div class="col-lg-6">
      <h1>The password has been changed!</h1>
      <div class="link-wrapper">
        <p><a href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></p>
        <p><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></p>
      </div>
    </div>
    <div class="col-lg-6">
      <img src="{% static 'image/svg/finished.svg' %}" alt="finished">
    </div>
  </div>
</div>
{% endblock %}