{% extends "base.html" %}
{% load static %}

{% block body %}
  <div class="container login-form">
    <div class="row">
      <div class="col-lg-6">
        <h1>Forgot Password</h1>
      
        <form method="post" action="">
          {% csrf_token %}
          {% if form.email.errors %}
            {{ form.email.errors }}
          {% endif %}
          <p><input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Email Address"></p>
          <button type="submit" class="btn btn-success">Reset password</button>
        </form>
      </div>
      <div class="col-lg-6">
        <img src="{% static 'image/svg/forgot_password.svg' %}" alt="forgot password">
        <div class="link-wrapper">
          <p><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}